@import "./components/mixins";
@import "./components/functions";
@import "./components/elementsReset";
@import "./components/cssnormalize";
@import "./components/animation";

@import "./components/app";
@import "./components/aboutme";
@import "./components/carousel";
@import "./components/contact";
@import "./components/flipCard";
@import "./components/hero";
@import "./components/navigation";
@import "./components/portfolio";
@import "./components/resume";
@import "./components/slideShow";
@import "./components/sticky";
@import "./components/textColor";
@import "./components/timeScale";

@import "./components/utility";
.c_white {
  color: white;
}

#id {
  width: 100vw;
  overflow: hidden;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}
