#aboutMe:visited {
  color: white;
}
.AboutMe {
  height: 35vh;

  @media screen and(max-width: 970px) {
    height: 30vh;
  }
  @media screen and(max-width: 720px) {
    height: 30vh;
  }
  &_container {
    display: flex;
    justify-content: center;
    align-items: center;
    @media screen and(max-width: 720px) {
      justify-content: space-around;
    }
  }
  &_left {
    width: 30vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    &-header {
      @include header;
      font-weight: bold;
      height: auto;
      @media screen and(max-width: 970px) {
        font-size: 2.2rem;
      }
    }
    &-image {
      width: auto;
      height: auto;
      & > img {
        width: 10rem;
        height: auto;
      }
    }
  }

  &_right {
    width: 30vw;
    height: auto;
    &-description {
      width: auto;
      font-size: 1.5rem;
      @media screen and(max-width: 970px) {
        font-size: 1.25rem;
      }
      @media screen and(max-width: 970px) {
        font-size: 1rem;
      }
      @include respond("phone") {
        width: 50vw;
      }
    }
  }
}
