@-webkit-keyframes slideDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
@keyframes slideDown {
  from {
    transform: translateY(-5rem);
  }
  to {
    transform: translateY(0rem);
  }
}
@-webkit-keyframes slideUp {
  from {
    transform: translateY(0rem);
    opacity: 100%;
  }
  to {
    transform: translateY(-5rem);
    opacity: 0%;
  }
}
@keyframes slideUp {
  from {
    transform: translateY(0rem);
    opacity: 100%;
  }
  to {
    transform: translateY(-5rem);
    opacity: 0%;
  }
}

@-webkit-keyframes slideDownResume {
  from {
    transform: translateY(-40rem);
  }
  to {
    transform: translateY(0);
  }
}

@keyframes slideDownResume {
  from {
    transform: translateY(-40rem);
  }
  to {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideshow {
  16.5% {
    transform: translateX(0%);
  }
  49.5% {
    transform: translateX(-100%);
  }
  83.16% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes slideshow {
  16.5% {
    transform: translateX(0%);
  }
  49.5% {
    transform: translateX(-100%);
  }
  83.16% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-300%);
  }
}

@keyframes slideLeft {
  from {
    transform: translateX(5rem);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes slideRight {
  from {
    transform: translateX(0rem);
  }
  to {
    transform: translateX(15rem);
  }
}
