.Carousel {
  height: 35rem;
  width: auto;
  scroll-snap-type: y mandatory;
  overflow: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  & > * {
    scroll-snap-align: start;
  }
  &--item {
    width: auto;
    height: 32rem;
    margin-bottom: 6rem;
  }
}
