.Carousel {
  height: 35rem;
  width: auto;
  overflow: scroll;
  -ms-scroll-snap-type: y mandatory;
  scroll-snap-type: y mandatory;
  & {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  &::-webkit-scrollbar {
    display: none;
  }

  @include respond("tab-land") {
    height: 28rem;
    width: 30rem;
  }
  @include respond("tab-port") {
    height: 32rem;
    width: 32rem;
  }
  @media screen and(max-width: 970px) {
    height: 30rem;
    width: 25rem;
  }
  @include respond("phone") {
    height: 13rem;
    width: 15rem;
  }
  & > * {
    scroll-snap-align: start;
  }
  &--item {
    width: 100%;
    height: 100%;
    margin-bottom: 6rem;

    &-image {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include respond("phone") {
        height: 100%;
      }
      &-devices {
        width: 100%;
        height: 70%;
      }
      &-header {
        width: auto;
        height: 20%;
        @media screen and(max-width: 970px) {
          height: 15%;
        }
      }
    }
  }
}
