.Contact {
  position: relative;
  height: 60vh;
  overflow: hidden;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(20%);
  }
  &_background {
    @include backgroundCover;
    height: 100%;
  }
  &_header {
    color: white;
    @include header();
    padding: 2rem;
    margin-bottom: 3rem;
    height: auto;
    @include respond("phone") {
      font-size: 2rem;
    }
  }

  &_menu {
    height: auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include respond("tab-land") {
      width: 80%;
    }
    @include respond("phone") {
      width: 100%;
    }
    &--item {
      width: 10rem;
      height: 8rem;
      font-weight: 2rem;
      font-size: 2rem;
      @include respond("phone") {
        font-size: 0.9rem;
        width: 8rem;
      }
    }
    &--clipboard {
      position: absolute;
      animation: slideUpFading 1s;
    }
  }

  &_clipboardSVG {
    width: 2rem;
    height: 2rem;
  }
}
