.Contact {
  position: relative;
  height: 60vh;
  overflow: hidden;

  &_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: translateY(20%);
  }
  &_background {
    @include backgroundCover;
    height: 100%;
  }
  &_header {
    color: white;
    @include header();
    padding: 2rem;
    margin-bottom: 3rem;
    height: auto;
  }

  &_menu {
    height: auto;
    width: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &--item {
      width: auto;
    }
  }
}
