.FlipCard {
  perspective: 1000px;
  &:hover &_inner {
    transform: rotateY(180deg);
  }
  height: 100%;
  display: flex;
  &_inner {
    position: relative;
    text-align: center;
    transition: 0.8s;
    transform-style: preserve-3d;
    height: auto;
  }

  &_front,
  &_back {
    height: 102%;
    position: absolute;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;

    & > input {
      margin-right: -2rem;
      border: none;
      background-color: #427cae;
      text-decoration: none;
      color: white;
      height: auto;
      &:hover {
        cursor: pointer;
      }
      &:focus {
        outline: none;
      }
    }
  }
  &_front {
    & > img {
      @include respond("phone") {
        width: 50%;
      }
    }
  }
  &_back {
    background-color: #427cae;
    transform: rotateY(180deg);
    z-index: -1;
    & > a {
      color: white;
      &:visited {
        color: white;
      }
    }
  }
}
