.Hero {
  max-width: 100vw;
  height: 80vh;

  color: white;

  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;
  overflow: hidden;
  &_background {
    @include backgroundCover;
    width: 110%;
  }
  &_main {
    height: 50%;
  }
  &_scrollLink {
    font-size: 2.4rem;
  }
}
