.Navigation {
  width: 100%;
  height: 5rem;
  padding: 3rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(255, 255, 255);
  box-shadow: 20px 0px 25px;
  animation: slideDown 0.5s linear;
  &_logo {
    width: auto;
  }
  &_menu {
    width: auto;
    display: flex;
    align-items: center;

    font-size: 2rem;
    & > div {
      height: auto;
      width: auto;
      padding-right: 2rem;
      text-transform: uppercase;
    }
  }
  &_menuIcon {
    position: absolute;
    transform: translateX(630%);
  }
  &_menuCloseIcon {
    position: absolute;
    transform: translateX(630%);
  }
  &_resume {
    &:hover {
      cursor: pointer;
    }
  }
}
