.Portfolio {
  height: 100vh;
  scroll-snap-align: start;
  &_background {
    @include backgroundCover;
    width: 101%;
    height: 135%;
    left: -1%;
  }
  &_container {
    transform: translateY(20%);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_header {
    @include header;
    height: auto;
    color: white;
    font-weight: bold;
    justify-self: start;
    margin-bottom: 3rem;
  }

  &_main {
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &--left {
      min-width: 12%;
      height: 100%;

      display: flex;
      justify-content: center;
    }
    &--right {
      width: 60%;
      height: auto;
    }
  }
}
