.Portfolio {
  height: 100vh;
  scroll-snap-align: start;
  @include respond("phone") {
    height: 50vh;
  }
  &_background {
    @include backgroundCover;
    width: 101%;
    height: 60%;
    left: -1%;
  }
  &_container {
    transform: translateY(20%);
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_header {
    @include header;
    height: auto;
    color: white;
    font-weight: bold;
    justify-self: start;
    margin-bottom: 3rem;
    @include respond("phone") {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  }

  &_main {
    width: 70%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    @include respond("phone") {
      display: block;
    }
    &--left {
      width: auto;
      height: 100%;
      margin-right: 10vw;

      display: flex;
      justify-content: center;
      @include respond("tab-port") {
        margin-right: 15vw;
      }

      @include respond("phone") {
        transform: rotate(90deg);
        // display: block;
        margin-right: 0;
        display: none;
      }
    }
    &--right {
      width: auto;
      height: auto;
      @include respond("phone") {
        display: flex;
        justify-content: center;
      }
    }
  }
}
