.TimeScale {
  height: 100%;

  display: flex;
  align-items: center;
  position: relative;

  &--line {
    border: 1px solid white;
    height: 90%;
    border-radius: 5px;
  }
  &--circles {
    height: 70%;
    left: -4px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &--circle {
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: white;
  }
  &--projectCircles {
    height: 70%;
    left: -2px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  &--smCircle {
    &1 {
      height: 7px;
      width: 7px;
      border-radius: 7px;
      background-color: white;
      transform: translateY(777%);
    }
    &2 {
      height: 7px;
      width: 7px;
      border-radius: 7px;
      background-color: white;
      transform: translateY(1510%);
    }
    &3 {
      height: 7px;
      width: 7px;
      border-radius: 7px;
      background-color: white;
      transform: translateY(600%);
    }
    &4 {
      height: 7px;
      width: 7px;
      border-radius: 7px;
      background-color: white;
      transform: translateY(605%);
    }
  }
  &--dates {
    height: 70%;
    left: -50px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &--date {
    color: white;
    height: auto;
  }
  &--pointer {
    height: 6rem;
    position: absolute;

    display: flex;
    align-items: center;
    justify-content: flex-start;

    left: 10px;
    top: 25%;

    transition: all 1s;

    &-triangle {
      // width: 0;
      // height: 0;
      // border-top: 7px solid transparent;
      // border-bottom: 7px solid transparent;
      // border-right: 7px solid white;
      // margin-right: 0.2rem;
    }
    &-hrLine {
      width: 20px;
      height: 2px;
      background-color: white;
      border-radius: 5px;
    }
    &-vtLine {
      height: 3rem;
      width: 4px;
      border-radius: 5px;
      margin-right: 1rem;

      background-color: white;
      transform: translate(100%);
    }
    &-date {
      height: auto;
      color: white;
    }
    &-dates {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
    }
  }
}
